@CHARSET "utf-8";
.contactUsDiv{
	width: 70%;
	margin: auto;
	align-items: center;
	text-align: center;
}
.contactUsDiv table{
	margin: auto;
}
.footer{
	text-align: center;
	line-height: 15px;
	width: 90%;
	margin: auto;
	margin-bottom: 10px;
	font-size: small;
	padding-top: 5px;
}
.italic{
	font-style: italic;
}