@CHARSET "utf-8";
.contactUsDiv{
	width: 70%;
	margin: auto;
	align-items: center;
	text-align: center;
}
.contactUsDiv table{
	margin: auto;
}
html, body {
    height: 100%;
    margin: 0;
}
.wrapper{
    min-height: 100%;
}
.footer{
	text-align: center;
	line-height: 15px;
	width: 90%;
	font-size: small;
	margin: auto;
	margin-top: 30px;
}
.italic{
	font-style: italic;
}
.logo{
	margin-top: 30px;
	margin-bottom: 30px;
}